@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

button,
body{
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fullContainer {
    width: 100%;
}

.container {
    width: 1140px;
    margin: auto;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container .logo img {
    padding: 15px 0;
    height: 75px;
}

header .container .logo img {
    height: 100%;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
}
